header{
    background-color: $p1;
    color: white;
    padding: 15px;
    .logo{
        display: flex;
        align-items: center;
        align-content: start;
        img{
            height: 60px;
            margin-right: 5px;
        }
        p{
            margin: 0px; 
            &:first-of-type{
                font-family: 'Gabriola Regular';
                // font-style: italic;
                font-size: 30px;
                line-height: 20px;
                span:first-of-type{
                    font-family: $font-bold;
                    font-size: 15px;
                    text-transform: uppercase;
                    color: $p3;
                }
                span:last-of-type{
                    font-family: $font-regular;
                    font-size: 12px;
                }
            }
            &:last-of-type{
                    font-family: $font-regular;
                    font-size: 12px;
            }
        } 
    }
    .services{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-content: start;
        >*{
            margin: 0 5px;
        }
        ul li{
            display: inline-block;
            padding: 12px 15px;
            margin: 0px 5px;
            font-size: 12px;
            font-weight: 600;
        }
        .burger{
            font-size: 25px;
            padding: 5px;
        }
    }
    a{
        &.phone{
            border: 2px solid white;
            padding: 5px;
            border-radius: 50%;
        }
    }
}
// $dark: grey;
// $light:white;
// $them:$dark;
// @mixin theme ($them){
//     @if($them == $dark){
//             color: white !important;
//     }
//     @else{
//             color: black !important;
//     }
// }
// body{
//     background-color: $them;
//     @include theme($dark);
// }
// @for $i from 1 to 4{
//     .d#{$i} {
//         color: red;
//         font-size: 20px+10px/2*3+10pt-10;
//     }
// }